# PlatformIO specific files
.pio
.vscode

# Compiled object files
*.o
*.obj
*.elf
*.bin
*.hex
*.map

# Backup files
*.bak
*.swp

# Logs
*.log

# MacOS specific files
.DS_Store

# Windows specific files
Thumbs.db
